body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #616161;
    font-family: 'Lora', serif;
    font-size: auto;
}
header {
    margin-bottom: 20px;
}
header, footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    background-color: #185eae;
    border: 1px solid #0096ff;
    border-radius: 25px;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
    text-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
}
footer {
    margin-top: 20px;
}
main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    grid-gap: 20px;
}
h1 {
    background-size: cover;
    margin-top: 50px;
    font-size: 50px;
    font-size: 98%
}

.principle {
    width: 100%;
    font-weight: bold;
    background-color: black;
    border: 1px solid #0096ff;
    border-radius: 25px;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
}
.principle h1{
    text-align: left;
    font-size: 30px;
}
.principlebody {
    padding: 10px;
    border-radius: 25px;
}
.principleheading {
    padding: 10px;
    background-color:#185eae;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    text-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
}

.principle img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.principle p {
    margin-top: 20px;
}

a {
    color: #0096ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    main {
      grid-template-columns: repeat(1, 1fr);
    }
    body {
        width: 90%;
    }
  }
  
  /* Medium screens */
  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    main {
        grid-template-columns: 50% 50%;
    }
    .principle:nth-last-child(1) {
        grid-column-end: span 2;
    }
}

  /* Medium screens */
  @media only screen and (min-width: 3000px) {
    body {
        font-size: 40px;
    }
}

  