body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 16px;
    display: block;
    grid-gap: 20px;
    background-color: #616161;
}
header, footer{
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #185eae;
    border: 1px solid #0096ff;
    border-radius: 5px;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
    text-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
}
main {
    margin: 20px;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.principle {
    font-weight: bold;
    background-color: black;
    border: 1px solid #0096ff;
    border-radius: 5px;
    color: white;
}
.principle h1{
    text-align: left;
    font-size: 30px;
}
.principlebody {
    padding: 10px;
    border-radius: 5px;
}
.principleheading {
    padding: 10px;
    background-color:#185eae;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
}

.principle img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.principle p {
    margin-top: 20px;
}

a {
    color: #0096ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    main {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  /* Medium screens */
  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }
    .principle:nth-last-child(1) {
        grid-column-end: span 2;
    }
}

  