/* Styles for small screen size (mobile) */
:root {
    /* color palette */
    --primary-color: #013c72;
    --secondary-color:#2770b6;
    --accent1-color: #ffffff;
    --accent2-color: #99dee4;
    --accent3-color: #ff9d00;
    --accent4-color: #eaeaea;

    /* fonts */
    --heading-font: "IM Fell French Canon";
    --paragraph-font: Lato, Helvetica, sans-serif;

    /* chosen from among colors above */
    --headline-color-on-white: #013c72;  /* headlines on a white background */ 
    --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #013c72; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #fffafa; /* paragraph text on a colored background */ 
    --paragraph-background-color: #2770b6  ;
    --nav-link-color: #fffafa;
    --nav-background-color: #2770b6;
    --nav-hover-link-color: #ff9d00;
    --nav-hover-background-color: #013c72;
}
/* Over all Website Design*/
body {
    text-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.33);
    font-family: var(--paragraph-font);
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    background-color: var(--accent4-color);
    color: var(--headline-color-on-white);
}
h1 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
hr {
    width: 100%;
    height: 2px;
    margin-top: -20px;
    margin-bottom: 20px;
    background: var(--accent3-color);
    border: var(--accent3-color) solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
    border-radius: 50px;
  }
  h3 {
    margin-top: 0;
    color: var(--headline-color-on-white);
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}
li {
    margin-bottom: 5px;
}

/* Header Design*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#date {
    font-size: 1rem;
    color: var(--headline-color-on-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);;
}
.banner {
    font-size: .8rem;
    font-weight: bold;
    color: var(--accent3-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: -15px;
}
#date h2 {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Navbar */
nav {
    list-style-type: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.53);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 2;
}
nav h1{
    color: var(--headline-color-on-color);
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: bold;
}
nav h2{
    color: var(--headline-color-on-color);
    font-size: .7rem;
    margin-top: -15px;
    font-family: var(--heading-font);
    font-style: italic;
}
.horizontal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.navbar-toggle a{
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-toggle a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--nav-hover-link-color);
    transform: scale(1.2);
}
nav button {
    display: flex;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: var(--accent1-color);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50px;
}
.navbar-logo {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
}
.navbar-logo:hover {
    color: var(--nav-hover-link-color);
    transform: scale(1.2);
}
.navbar-logo img {
    margin-top: 5px;
    height: 40px;
    border: 2px solid;
    border-color: var(--accent3-color);
    border-radius: 50px;
}
.facebook-logo img {
    height: 20px;
    float: right;
    border: 2px solid;
    border-color: var(--accent3-color);
    border-radius: 50px;
}
.linkedin-logo img {
    height: 20px;
    float: right;
    border: 2px solid;
    border-color: var(--accent3-color);
    border-radius: 50px;
}
nav ul li a.active {
    color: var(--headline-color-on-white);
    background-color: rgba(255, 255, 255, 0.5);
}
nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
}
nav ul.open {
    display: flex;
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}
nav ul a {
    color: var(--nav-link-color);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding:.8rem;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
nav ul a:hover,
nav ul li a.active:hover,
nav button:hover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--nav-hover-link-color);
  transform: scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main design */
main {
    margin-top: 145px;
    text-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.33);
    font-family: var(--paragraph-font);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent4-color);
    color: var(--headline-color-on-white);
    position: relative;
}
main .hero-section {
    background-image: url('../images/rustymetal.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.56), 0 3px 6px rgba(0,0,0,0.73);
    border-radius: 25px;
    margin-bottom: 30px;
}
.news- {
    float: left;
}
main  img {
    position: relative;
    width: 100%;
    border-radius: 25px;
}
.hero-message {
    position: relative;
    text-align: center;
    top: -5rem;
    left: -1rem;
}
main .hero-message h3 {
    position: relative;
    z-index: 1;

    color: var(--accent1-color);
    font-size: .6rem;
}
main .hero-message h1 {
    position: relative;
    color: var(--accent1-color);
    font-size: 1rem;
    z-index: 1;
}
main .hero-message h2 {
    position: relative;
    color: var(--accent1-color);
    font-size: .7rem;
    z-index: 1;
}
.call-to-action{
    font-family: var(--heading-font);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    text-align: left;
    background-color: var(--accent4-color);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.56), inset 0 3px 6px rgba(0, 0, 0, 0.73);
    padding: 20px;
    border-radius: 25px;
}
section h2 {
    font-size: 1.5rem;
}
.event-card, .weather-card, .news-card, .spotlight-card, .join-card{
    background-color: var(--primary-color);
    padding: 15px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
    margin-bottom: 20px;
    border-radius: 25px;
}
.event-card hr, .weather-card hr, .news-card hr, .spotlight-card hr, .join-card hr{
    margin-top: 10px;
    width: 100%;
}

.event-card h3, .weather-card h3, .news-card h3, .spotlight-card h3, .join-card h3{
    color: var(--accent3-color);
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}
.event-card p, .news-card p, .spotlight-card p, .join-card p{
    background-color: var(--accent1-color);
    border-radius: 25px;
    padding: 15px;
}
.event-card img, .news-card img, .spotlight-card img{
    border-radius: 25px;
}
.spotlight-card.large-screen-only {
    display: none;
  }
section {
    margin-bottom: 20px;
    width:100%;
}
.weather-card p {
    color: var(--accent2-color);
    margin: 10px 0;
}
.weather-card img {
    width: 50px;
    height: 50px;
}
.join-section {
    display: none;
}
.join-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: var(--accent3-color) solid;
    color: var(--accent3-color);
    margin-left: 65px;
    margin-right: 75px;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
    background-color: var(--paragraph-background-color);
}
.join-button:hover {
    border: var(--accent2-color) solid;
    color: var(--primary-color);
    background-color: var(--accent3-color);
    transform: scale(1.2);
}
.hidden {
    display: none;
}
.carousel {
    position: relative;
    width: 100%;
  }
  
.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: block;
}

/* Footer design */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-background-color);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.53);
    width: 100%;
    color: var(--headline-color-on-color);
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
}
.footer-logo {
    justify-content: center;
    align-items: center;
}
.footer-logo:hover {
    color: var(--nav-hover-link-color);
    transform: scale(1.2);
}
.footer-logo img {
    margin-top: 5px;
    height: 80px;
    border: 2px solid;
    border-color: var(--accent3-color);
    border-radius: 50px
}
footer h2 {
    color: var(--accent3-color);
    font-size: .8rem;
    margin-bottom: 10px;
}
footer h3 {
    color: var(--accent1-color);
    font-size: .8rem;
}
footer .location img {
    height: 10px;
}
footer .location {
    color: var(--accent1-color);
    text-decoration: none;
    font-size: .8rem;
    justify-content: center;
    border-radius: 50px;
    padding: 15px;
}
.location:hover {
    background-color: var(--nav-hover-background-color);
    transform: scale(1.2);
    color: var(--accent3-color);
}
.contact-info {
    width: 90%;
    text-align: center;
    justify-content: center;
}
.contact-info h2{
    color: var(--accent1-color);
    font-size: 1rem;
}
.sitespecifics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#footerinfo {
    margin-top: 15px;
    font-size: 1rem;
    color: var(--headline-color-on-color);
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid;
    border-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}
#footerinfo h2 {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footerinfo p {
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
