/* Media query for large screen size (desktop) */
@media screen and (min-width: 1200px) {
  #primaryNav {
    display: flex;
    margin-top: -115px;
    margin-left: 300px;
    padding-bottom: 5px;
  }
  nav button {
    display: none;
  }
  .horizontal h1{
    font-size: 1.5rem;
  }
  .horizontal h2{
    font-size: 1rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
  }
  nav ul a {
    color: var(--nav-link-color);
    font-size: 1.2rem;
    display: flex;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 7px;
  }
  .facebook-logo img, .linkedin-logo img{
    height: 30px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
    align-items: start;
    margin-top: 134px;
    font-size: .7rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  main .hero-section .call-to-action p{
    font-size: 1rem;
  }
  main .hero-section .call-to-action h2{
    font-size: 2rem;
  }
  .hero-section img {
    border-radius: 50px;
    width: 100%;
  }
  .hero-section {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 4.5rem;
    align-self: stretch
  }
  .call-to-action {
    align-self: stretch
  }
 .hero-section .hero-message h3 {
  font-size: .8rem; 
  }

  .hero-section .hero-message h1 {
    font-size: 1.8rem;
  }

  .hero-section .hero-message h2 {
    font-size: 1.3rem; 
  }
  .hero-message {
    margin-top: -2.5rem;
    margin-left: -1rem;
  }
  .footer {
    width: 150%;
  }
  .flex-row {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .events-section,
  .weather-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .event-card, .weather-card{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .join-section {
    grid-column: 1 / 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .join-card {
    width: 100%;
  }
  .join-button {
    margin: 20px 40px;
  }
  .spotlight-card.large-screen-only {
    display: block;
    width: 100%;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .news-section {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 87%;
    margin-top: 1.5rem;
  }
  .news-card {
    width: 100%;
    margin-top: 2rem;
  }
  .spotlight-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    margin-left: 0;
    margin-right: 0;
  }
  .spotlight-section .spotlight-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .spotlight-view{
    margin-left: 0;
  }
  .spotlight-card {
    float: left;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .spotlight-card img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #footerinfo {
    display: flex;
  }
  #footerinfo p {
    border-right: 2px solid;
  }
  .contact-info{
    margin-left: 100px;
  }
  .info{
    margin-left: 100px;
  }
  footer .sitespecifics, footer .contact-info {
    display: flex;
    flex-direction: row;
  }
  #footerinfo {
    display: flex;
  }
  #footerinfo p {
    border-right: 2px solid;
  }
  .contact-info{
    margin-left: 100px;
  }
  .info{
    margin-left: 100px;
  }
  .spotlight-section {
    width: 100%;
    margin-left: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .spotlight-view {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .spotlight-card{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
 section hr{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  float: left;
 }
 .hero-section, .news-section {
  margin-left: 3rem;
 }
 .spotlight-section {
  margin-left: 1.8rem;
 }
}