body {
    background-color: #0077B5; /* LinkedIn blue */
    color: #FFFFFF; /* white text */
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 4rem;
    margin-top: 10vh;
}
img {
    max-width: 50%;
    margin-top: 5vh;
}
iframe {
    max-width: 80%;
    margin-top: 5vh;
}