@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype'),
       url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Styles for the card */
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.card {
    background-color: #185eae;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px;
    width: 100%;
    text-align: center;
  }

  .devider {
    display: flex;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    text-align:inherit;
    align-items: center
  }
  
  .card img {
    margin-right: 80px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  
  .card h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3rem;
  }
  
  .ulcontainer h2 {
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 25px;
    margin-bottom: 0px;
    color: black;
  }

  .quote {
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 18px;
    margin-top: 0px;
    color: black;
  }

  .card ul li {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .card ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .card ul li a:hover {
    color: #f00;
  }

  .footertext {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: white;
  }
  
  /* Styles for last updated */
  .lasttext {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: greenyellow;
  }

  .spacer {
    width: 500px;
    flex: 1;
    border-bottom: 1px solid black;
  }

  .ulcontainer
  {
    text-align: left;
    max-width: 100%;
  }

  footer {
    font-family: 'Georgia', sans-serif;
    padding: 0;
    margin: 0;
    width: 70%;
    max-width: 100%;
  }

  header {
    font-family: 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
    width: 70%;
    max-width: 100%;
  }

  main {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    width: 60%;
    max-width: 100%;
  }

  /* Small screens */
@media only screen and (max-width: 600px) {
  .devider {
    display: block;
    }
  
  .card img {
  margin-right: 0;
  margin-bottom: 1rem;
  }
  .ulcontainer h2 {
  font-size: 1.2rem;
  }
  .ulcontainer h3 {
  font-size: 0.8rem;
  }
  .card ul li {
  font-size: 1rem;
  }
  .card h1 {
  font-size: 2rem;
  }
  .card h3 {
  font-size: 0.8rem;
  }
  .spacer {
  width: 90%;
  }
  footer {
  width: 70%;
  }
  }
  
  /* Large screens */
  @media only screen and (min-width: 1200px) {
  .card {
  max-width: 1000px;
  }
  .ulcontainer {
  max-width: 800px;
  }
  footer {
  max-width: 1000px;
  }
  }
